<html>
<head>
    <!--word cloud scripts -->
    <script src="{{ url_for('static', filename='js/third-party/d3/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/third-party/d3-cloud/build/d3.layout.cloud.js') }}"></script>

  <!--Jquery scripts-->
    <script src="{{ url_for('static', filename='js/third-party/jquery/dist/jquery.min.js') }}"></script>

    <!--bootstrap-select scripts -->
    <link href= "{{ url_for('static',
	filename='js/third-party/bootstrap-select/dist/css/bootstrap-select.min.css')}}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/third-party/bootstrap-select/dist/js/bootstrap-select.js') }}"></script>

    <script type="text/javascript">
        $('.selectpicker').selectpicker();
    </script>


    <!--bootstrap scripts -->
    <link href= "{{ url_for('static',
	filename='js/third-party/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static', filename='js/third-party/bootstrap/dist/js/bootstrap.min.js') }}"></script>

</head>

<body>
{{popup| safe}}

<form class="form-inline" action="https://geco.iplantcollaborative.org/hclent/bionlp/cogewordcloud/" method="post">

     <div id="options">
         <label>Show words occurring </label>
          <div class="form-group">
          <select class="form-control" id="w_words" name="w_words">
          <option value="3">3</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="150">150</option>
          <option value="200">200</option>
          </select>
          </div>

         <label> or more times from categories </label>
        <select class="form-control selectpicker" multiple data-width="100px" id="n_categories" name="n_categories">
          <option value="BioProcess">Bioprocess</option>
          <option value="CellLine">Cell-lines</option>
          <option value="Cellular_component">Cellular components</option>
            <option value="Family">Family</option>
            <option value="Gene_or_gene_product">Gene or gene products</option>
            <option value="Organ">Organs</option>
            <option value="Simple_chemical">Simple chemicals</option>
            <option value="Site">Sites</option>
            <option value="Species">Species</option>
            <option value="TissueType">Tissue-types</option>

        </select>

  <button type="submit" id="heatmap" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">Update</button>
     </div> <!-- end "options" -->

</form>


<!-- Progress modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Loading</h4>
      </div>
      <div class="modal-body">

				<!-- Progress bar that doesn't actually move -->
				<div class="progress">
				  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
				    <span class="sr-only">45% Complete</span>
				  </div>
				</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</body>

<script>

var fill = d3.scale.category20();

myjson = {{ wordcloud_data|tojson }};
var frequency_list = JSON.parse( myjson );


  d3.layout.cloud().size([1400, 788])
      .words(frequency_list)
      .rotate(function() { return ~~(Math.random() * 2) * 90; })
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select("body").append("svg")
        .attr("width", 1400) //makes size of svg
        .attr("height", 788)
      .append("g")
        .attr("transform", "translate(700,400)")//(L-R, up-down) (150,150 default) with 300,300 svg
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }

</script>

<script>
  var btn = document.getElementById('wcButton');
  btn.addEventListener('click', loadProgress);

  function loadProgress() {
    console.log('Button clicked!');
    var progressBar = document.getElementsByClassName('progress-bar')[0];
    var interval = 30;
    var currentValue = 0;
    for (var i = 0; i < 100; i += interval) {
      console.log('Setting interval', i)
      setTimeout(function() {
        currentValue += i;
        console.log('Setting progress width to:', currentValue, '%');
        progressBar.setAttribute('style', 'width: ' + currentValue + '%');
      }, i);
    }
  }
</script>

<script>
  var btn = document.getElementById('wcButton');
  btn.addEventListener('click', loadProgress);

  function loadProgress() {
    //console.log('Button clicked!');
    var progressBar = document.getElementsByClassName('progress-bar')[0];
    var interval = 30;
    var currentValue = 0;
    for (var i = 0; i < 100; i += interval) {
      //console.log('Setting interval', i)
      setTimeout(function() {
        currentValue += i;
        //console.log('Setting progress width to:', currentValue, '%');
        progressBar.setAttribute('style', 'width: ' + currentValue + '%');
      }, i);
    }
  }
</script>