<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title></title>
<style>
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}
</style>
</head>
     <!--bootstrap scripts -->
<link href= "{{ url_for('static',
	filename='js/third-party/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/third-party/jquery/dist/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/third-party/bootstrap/dist/js/bootstrap.min.js') }}">
	</script>

    <!--plotly scripts -->
<script src="{{ url_for('static', filename='js/third-party/plotly/dist/plotly.min.js') }}"></script>


<body>

<h2>Input paper(s)</h2>
<ul class="list-group">

            {% for result in input_click_citations %}
             <li><a href="{{result[1]}}" class="list-group-item">{{result[0]}}</a></li>
		  	{% endfor %}

</ul>

<h2>Citation Statistics</h2>
<ul class="list-group">
  <li class="list-group-item">Total Num Citations: {{sum_total}} </li>
  <li class="list-group-item">Total Num Unique Citations: {{unique}} </li>
  <li class="list-group-item">Total Num Abstracts: {{sum_abstracts}} </li>
  <li class="list-group-item">Total Num Whole Articles: {{sum_whole}}  </li>
  <li class="list-group-item">Total Num Sentences: {{sum_sents}}  </li>
  <li class="list-group-item">Total Num Words: {{sum_tokens}} </li>
</ul>



    <div id="venn"></div>

</body>

 <script src="{{ url_for('static', filename='js/third-party/d3/d3.min.js') }}"></script>
 <script src="{{ url_for('static', filename='js/third-party/venn.js/venn.js') }}"></script>



<script>
var sets = [{sets : [0], label : 'PMID:18952863 (122)', size: 111},
            {sets : [1], label : 'PMID:18269575 (109)', size : 109},
            {sets : [0,1], label: '30', size:30}
            ];

var chart = venn.VennDiagram()
                 .width(600)
                 .height(400);

d3.select("#venn").datum(sets).call(chart);


</script>

 <div id="myDiv" style="width: 680px; height: 600px;"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>
var paper1 = {
    x: [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018],
    y: [1, 1, 5, 11, 15, 11, 21, 12, 19, 14, 11],
    name: '18952863',
    type: 'bar'};

    var paper2 = {
    x: [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018],
    y: [3, 3, 6, 5, 8, 16, 13, 8, 19, 11, 17],
    name: '18269575',
    type: 'bar'};


    var data = [paper1, paper2];


    var layout = {
      title: 'Citations by Year',
      barmode: 'group'
    };


    Plotly.newPlot('myDiv', data, layout);

  </script>
