<html>
<head>
    <!--plotly scripts -->
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
<script src="{{ url_for('static', filename='js/third-party/plotly/dist/plotly.min.js') }}"></script>
    <!--bootstrap scripts -->
   <!-- <link href= "{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> -->
	<link href= "{{ url_for('static',
	filename='js/third-party/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/third-party/jquery/dist/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/third-party/bootstrap/dist/js/bootstrap.min.js') }}">
	</script>
	


</head>
<body>
<h2> K-means Clustering </h2> <!--title goes here-->
<p>   </p>

<div id="controls">
<form class="form inline" action="https://geco.iplantcollaborative.org/hclent/bionlp/cogekmeans/" method="post">
<label for="buttongroup">clusters:</label>
	<div id="buttongroup">
		<div class="col-xs-1">
		<select class="form-control" id="k_val" name="k_val">
		  <option name="1" value="1">k=?</option>
	  <option name="2" value="2">k=2</option>
	  <option name="3" value="3">k=3</option>
	  <option name="4" value="4">k=4</option>
	  <option name="5" value="5">k=5</option>
		   </select>
		</div>

		<button type="submit" id="kmeans" class="btn btn-default" data-toggle="modal" data-target="#myModal">Update</button>
		</div>
</form>
</div>

<!-- Progress modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Loading</h4>
      </div>
      <div class="modal-body">

				<!-- Progress bar that doesn't actually move -->
				<div class="progress">
				  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
				    <span class="sr-only">45% Complete</span>
				  </div>
				</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<br></br>
<br></br>
<div id="myDiv">  </div>

<script>

var trace1 = {
 x: {{x0_coordinates}},
    y: {{y0_coordinates}},
    z: {{z0_coordinates}},
	mode: 'markers',
	marker: {
		size: 12,
		line: {
		color: 'rgba(217, 217, 217, 0.14)',
		width: 0.5},
		opacity: 0.8},
	type: 'scatter3d'
};

var trace2 = {
    x: {{x1_coordinates}},
    y: {{y1_coordinates}},
    z: {{z1_coordinates}},
	mode: 'markers',
	marker: {
		color: 'rgb(127, 127, 127)',
		size: 12,
		symbol: 'circle',
		line: {
		color: 'rgb(204, 204, 204)',
		width: 1},
		opacity: 0.8},
	type: 'scatter3d'};

var trace3 = {
    x: {{x2_coordinates}},
    y: {{y2_coordinates}},
    z: {{z2_coordinates}},

	mode: 'markers',
	marker: {
		color: 'rgb(204, 204, 204)',
		size: 12,
		symbol: 'circle',
		line: {
		color: 'rgb(204, 204, 204)',
		width: 1},
		opacity: 0.8},
	type: 'scatter3d'};

var trace4 = {
	 x: {{x3_coordinates}},
    y: {{y3_coordinates}},
    z: {{z3_coordinates}},
	mode: 'markers',
	marker: {
		color: 'rgb(137, 140, 43)',
		size: 12,
		symbol: 'circle',
		line: {
		color: 'rgb(137, 140, 43)',
		width: 1},
		opacity: 0.8},
	type: 'scatter3d'};

var trace5 = {
    x: {{x4_coordinates}},
    y: {{y4_coordinates}},
    z: {{z4_coordinates}},
	mode: 'markers',
	marker: {
		color: 'rgb(242, 65, 80)',
		size: 12,
		symbol: 'circle',
		line: {
		color: 'rgb(242, 65, 80)',
		width: 1},
		opacity: 0.8},
	type: 'scatter3d'};

var data = [trace1, trace2, trace3, trace4, trace5];
var layout = {margin: {
	l: 0,
	r: 0,
	b: 0,
	t: 0
  }};
Plotly.newPlot('myDiv', data, layout);

</script>


<script>
  var btn = document.getElementById('kmeans');
  btn.addEventListener('click', loadProgress);

  function loadProgress() {
    //console.log('Button clicked!');
    var progressBar = document.getElementsByClassName('progress-bar')[0];
    var interval = 30;
    var currentValue = 0;
    for (var i = 0; i < 100; i += interval) {
      //console.log('Setting interval', i)
      setTimeout(function() {
        currentValue += i;
        //console.log('Setting progress width to:', currentValue, '%');
        progressBar.setAttribute('style', 'width: ' + currentValue + '%');
      }, i);
    }
  }
</script>