<!DOCTYPE html>
<meta charset="utf-8">
<!--<link href= "{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> -->
	<link href= "{{ url_for('static',
	filename='js/third-party/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/third-party/jquery/dist/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/third-party/bootstrap/dist/js/bootstrap.min.js') }}">
	</script>


<style>

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}



</style>


<body>
<h2> Latent Dirichlet Allocation </h2> <!--title goes here-->
<p>   </p>
<form class="form-inline" action="https://geco.iplantcollaborative.org/hclent/bionlp/cogelda/" method="post">
<div class="form-group">
    <label for="k_val"> k topics</label>
    <select class="form-control form-control-sm" id="k_val" name="k_val">
      <option value="2">k=2</option>
      <option value="3">k=3</option>
      <option value="4">k=4</option>
      <option value="5">k=5</option>
    </select>
    </div>
      <div class="form-group">
      <label for="w_words">of w words</label>
      <select class="form-control form-control-sm" id="w_words" name="w_words">
        <option value="4">w=4</option>
        <option value="5">w=5</option>
        <option value="6">w=6</option>
        <option value="7">w=7</option>
      </select>
    </div>
  <button type="submit" id="ldabutton" class="btn btn-default" data-toggle="modal" data-target="#myModal">Update</button>
</form>


<!-- Progress modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Loading</h4>
      </div>
      <div class="modal-body">

				<!-- Progress bar that doesn't actually move -->
				<div class="progress">
				  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
				    <span class="sr-only">45% Complete</span>
				  </div>
				</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!--<script src="//d3js.org/d3.v3.min.js"></script>-->
<script src="{{ url_for('static', filename='js/third-party/d3/d3.min.js') }}"></script>

<script>

var margin1 = 20,
    diameter1 = 960;

var color1 = d3.scale.linear()
    .domain([-1, 5])
    .range(["hsl(250,01%,99%)", "hsl(300,60%,40%)"])
    .interpolate(d3.interpolateHcl);

var pack1 = d3.layout.pack()
    .padding(2)
    .size([diameter1 - margin1, diameter1 - margin1])
    .value(function(dd) { return dd.size; })

var svg1 = d3.select("body").append("svg")
    .attr("width", diameter1)
    .attr("height", diameter1)
  .append("g")
    .attr("transform", "translate(" + diameter1 / 2 + "," + diameter1 / 2 + ")");


var myjson = {{ jsonLDA|tojson }};
//console.log(myjson)
root1 = JSON.parse( myjson );
//console.log(root)


//d3.json("{{ url_for('static', filename='coge_lda1.json') }}", function(error, root1) {
  //if (error) throw error;
  //console.log(root)
  var focus1 = root1,
      nodes1 = pack1.nodes(root1),
      view1;

  var circle1 = svg1.selectAll("circle")
      .data(nodes1)
    .enter().append("circle")
      .attr("class", function(dd) { return dd.parent ? dd.children ? "node" : "node node--leaf" : "node node--root"; })
      .style("fill", function(dd) { return dd.children ? color1(dd.depth) : null; })
      .on("click", function(dd) { if (focus1 !== dd) zoom(dd), d3.event.stopPropagation(); });

  var text1 = svg1.selectAll("text")
      .data(nodes1)
    .enter().append("text")
      .attr("class", "label")
      .style("fill-opacity", function(dd) { return dd.parent === root1 ? 1 : 0; })
      .style("display", function(dd) { return dd.parent === root1 ? "inline" : "none"; })
      .text(function(dd) { return dd.name; });

  var node1 = svg1.selectAll("circle,text");

  d3.select("body")
      .style("background", color1(-1))
      .on("click", function() { zoom(root1); });

  zoomTo([root1.x, root1.y, root1.r * 2 + margin1]);

  function zoom(dd) {
    var focusF = focus1; focus1 = dd;

    var transition1 = d3.transition()
        .duration(d3.event.altKey ? 7500 : 750)
        .tween("zoom", function(dd) {
          var i1 = d3.interpolateZoom(view1, [focus1.x, focus1.y, focus1.r * 2 + margin1]);
          return function(t) { zoomTo(i1(t)); };
        });

    transition1.selectAll("text")
      .filter(function(dd) { return dd.parent === focus1 || this.style.display === "inline"; })
        .style("fill-opacity", function(dd) { return dd.parent === focus1 ? 1 : 0; })
        .each("start", function(dd) { if (dd.parent === focus1) this.style.display = "inline"; })
        .each("end", function(dd) { if (dd.parent !== focus1) this.style.display = "none"; });
  }

  function zoomTo(v) {
    var k1 = diameter1 / v[2]; view1 = v;
    node1.attr("transform", function(dd) { return "translate(" + (dd.x - v[0]) * k1 + "," + (dd.y - v[1]) * k1 + ")"; });
    circle1.attr("r", function(dd) { return dd.r * k1; });
  }
//});

d3.select(self.frameElement).style("height", diameter1 + "px");

</script>


<script>
  var btn = document.getElementById('ldabutton');
  btn.addEventListener('click', loadProgress);

  function loadProgress() {
    //console.log('Button clicked!');
    var progressBar = document.getElementsByClassName('progress-bar')[0];
    var interval = 30;
    var currentValue = 0;
    for (var i = 0; i < 100; i += interval) {
      //console.log('Setting interval', i)
      setTimeout(function() {
        currentValue += i;
        //console.log('Setting progress width to:', currentValue, '%');
        progressBar.setAttribute('style', 'width: ' + currentValue + '%');
      }, i);
    }
  }
</script>