<!doctype html>
{% extends "header.html" %}

{% block body %}


<!-- Pubmed ID Submit form button -->
<!-- User input is saved to the database pmids_info.db -->
<!-- Submit button also initiates loading model -->
<div>
<form action="https://geco.iplantcollaborative.org/hclent/bionlp/results/" class="form-inline" method="post">
  <div class="form-group">
    <label for="PubmedID">Pubmed ID(s)</label>
    <input type="text" class="form-control" id="PubmedID" placeholder="18952863, 18269575" name="pmid" value="{{request.form.pmid}}">
  </div>
  <button type="submit" id= "myButton" class="btn btn-default" data-toggle="modal" data-target="#myModal">Submit</button>
</form>
</div> 


<!-- Progress modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Loading</h4>
      </div>
      <div class="modal-body">
      	
				<!-- Progress bar that doesn't actually move -->
				<div class="progress">
				  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
				    <span class="sr-only">45% Complete</span>
				  </div>
				</div> 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Tabs -->
<div>

  <!-- Define Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#WebDev" aria-controls="WebDev" role="tab" data-toggle="tab">Information</a></li>

    <li role="presentation"><a href="#journals" aria-controls="journals" role="tab" data-toggle="tab">Journals</a></li>
    
    <li role="presentation"><a href="#ner" aria-controls="ner" role="tab" data-toggle="tab">NER</a></li>
    
    <li role="presentation"><a href="#dan" aria-controls="dan" role="tab" data-toggle="tab">Data Vis</a></li>
  </ul>


  <!-- Tab panes -->
	<ul class="tab-content">

		<!--  Loop through cited article information like this --> 
		<div role="tabpanel" class="tab-pane fade" id="WebDev">
		  	<p>Results for PMID(s): 18952863, 18269575</p> 
		  	{% for result in main_info %}
		  	<!--Sample results will go here-->
            	<li>{{result}}</li>
		  	{% endfor %}
		 
		</div> 


		<!--  Put journals here blegh --> 
		<div role="tabpanel" class="tab-pane fade" id="journals">
		  	<p>Where are they published?</p> 
                {% for result in journals %}
        <!--Sample results will go here-->
              <li>{{result}}</li>
        {% endfor %}
     
		</div> 


		<!--  Put NERs here blegh --> 
		<div role="tabpanel" class="tab-pane fade" id="ner">
		  	<p>What organisms are they working with?</p> 
        {% for result in ner %}
        <!--Sample results will go here-->
              <li>{{result}}</li>
        {% endfor %}
		</div> 



		<!-- Data analysis/visualization-->
		<div role="tabpanel" class="tab-pane fade" id="dan">
            <ul>


            <div class="btn-group" role="group">
            <!-- Split button -->
                    <div class="btn-group" method="post">
                      <button type="button" class="btn btn-default">Topic Modle</button>
                      <button type="button" class="btn btn-default dropdown-toggle" id="topicmodel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                          <!-- TO DO: ajax req it and then append html in  div -->
                        <li><a href="#lsa" id="lsa">LSA</a></li> <!-- I want this button to include vis_lsa.html -->

                        <li><a href="#lda" id="lda">LDA</a></li> <!-- and this button to include vis_lda.html -->

                      </ul>
                    </div>

                <div class="btn-group" method="post">
                      <button type="button" class="btn btn-default">k</button>
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#k2">k=2</a></li>
                        <li><a href="#k3">k=3</a></li>
                          <li><a href="#k4">k=4</a></li>
                        <li><a href="#k5">k=5</a></li>

                      </ul>
                    </div>


            </div>
            </ul>

            <div id="datavis">
                    {% include 'vis_lsa.html' %}
            </div>



        </div>



</div>



<script>
//  var btn1 = document.getElementById('lsa');
//  btn1.addEventListener('click', toggle);


//  function toggle() {
//      console.log('LSA clicked!');
//      var visspace = document.getElementById('datavis');
//      visspace.style.display = visspace.style.display == 'none' ? '' : 'none';
//      visspace = document.getElementById('blah');
//      visspace.style.display = visspace.style.display == 'none' ? '' : 'none';
//
//
//  }
</script>




<script>
  var btn = document.getElementById('myButton');
  btn.addEventListener('click', loadProgress);
  
  function loadProgress() {
    //console.log('Button clicked!');
    var progressBar = document.getElementsByClassName('progress-bar')[0];
    var interval = 30;
    var currentValue = 0;
    for (var i = 0; i < 100; i += interval) {
      //console.log('Setting interval', i)
      setTimeout(function() {
        currentValue += i;
        //console.log('Setting progress width to:', currentValue, '%');
        progressBar.setAttribute('style', 'width: ' + currentValue + '%');
      }, i);
    }
  }
</script>


{% endblock %}


