<!doctype html>
{% extends "header.html" %}

{% block body %}


<!-- Pubmed ID Submit form button -->
<!-- User input is saved to the database pmids_info.db -->
<!-- Submit button also initiates loading model -->
<div>

 <form action="https://geco.iplantcollaborative.org/hclent/bionlp/results/" class="form-inline" method="get">
    <div class="form-group">
    <label for="PubmedID">Pubmed ID(s)</label>
    <input type="text" class="form-control" id="PubmedID" placeholder="18952863, 18269575" name="pmid" value="{{request.form.pmid}}">
  </div>
  <button type="submit" id= "myButton" class="btn btn-default" data-toggle="modal" data-target="#myModal">Submit</button>
</form>


</div> 


<!-- Progress modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Loading</h4>
      </div>
      <div class="modal-body">
      	
				<!-- Progress bar that doesn't actually move -->
				<div class="progress">
				  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
				    <span class="sr-only">45% Complete</span>
				  </div>
				</div> 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Tabs -->
<div>

  <!-- Define Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">

    <li role="presentation"><a href="#journals" aria-controls="journals" role="tab" data-toggle="tab">Journals</a></li>
    
    <li role="presentation"><a href="#ner" aria-controls="ner" role="tab" data-toggle="tab">Keywords</a></li>
    
    <li role="presentation"><a href="#dan" aria-controls="dan" role="tab" data-toggle="tab">Topics</a></li>

      <li role="presentation"><a href="#cluster" aria-controls="cluster" role="tab" data-toggle="tab">Clustering</a></li>

       <li role="presentation"><a href="#citations" aria-controls="citations" role="tab" data-toggle="tab">Citations</a></li>

      <li role="presentation"><a href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab">Statistics</a></li>

      <li role="presentation"><a href="#scifi" aria-controls="scifi" role="tab" data-toggle="tab">TextCompare</a></li>


  </ul>


  <!-- Tab panes -->
	<ul class="tab-content">


		<!--  Put journals here -->
		<div role="tabpanel" class="tab-pane fade in active" id="journals">
            <p>    </p>
           <iframe  id="journals"  src="https://geco.iplantcollaborative.org/hclent/bionlp/cogejournals/" width="1500" height="1350" marginwidth="0" marginheight="0" scrolling="no" frameBorder="0"></iframe>
		</div> 


		<!--  Put NERs here -->
		<div role="tabpanel" class="tab-pane fade" id="ner">

             <div class="btn-group" role="group">

    <!-- Split button -->
            <div class="btn-group">
              <button type="button" class="btn btn-default">Visualization</button>
              <button type="button" class="btn btn-default dropdown-toggle" id="nes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">

                <li><a href="#wc" id="wc" onclick="toggle3('wordcloud', 'heatmap', 'clustermap')">Word Cloud</a></li>

                <li><a href="#hm" id="hm" onclick="toggle3('heatmap', 'wordcloud', 'clustermap')">Heatmap</a></li>

                  <li><a href="#cm" id="cm" onclick="toggle3('clustermap', 'wordcloud', 'heatmap')">Clustermap</a></li>

              </ul>
            </div>

    </div>
            <!--this </> below doesn't seem to match anything but if you remove it or make it a div, things go crazy-->
                </>

            <br></br>

           <iframe  id="wordcloud" style="display:none" src="https://geco.iplantcollaborative.org/hclent/bionlp/cogewordcloud/" width="1500" height="1700" marginwidth="0" marginheight="0" scrolling="no" frameBorder="0"></iframe>

            <iframe  id="heatmap" style="display:none"  src="https://geco.iplantcollaborative.org/hclent/bionlp/cogeheatmap/" width="850" height="800" marginwidth="0" marginheight="0" scrolling="no" frameBorder="0"></iframe>

        <iframe  id="clustermap" style="display:none"  src="https://geco.iplantcollaborative.org/hclent/bionlp/cogeclustermap/" width="850" height="1200" marginwidth="0" marginheight="0" scrolling="no" frameBorder="0"></iframe>

        <!--TODO: i would change the "style"-->

		</div>
<!--this /div responds to the first tab div, which doesnt make sense to me, but moving it breaks things-->



		<!-- Data analysis/visualization-->
		<div role="tabpanel" class="tab-pane fade" id="dan">
            <ul>

                <!-- Data visualization options form drop down -->
    <div class="btn-group" role="group">

    <!-- Split button -->
            <div class="btn-group">
              <button type="button" class="btn btn-default">Topic Model</button>
              <button type="button" class="btn btn-default dropdown-toggle" id="topicmodel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                  <!-- TO DO: form should return which topic model has been selected -->
                <li><a href="#embedding" id="embedding" onclick="toggle3('cogeembedding', 'cogelda', 'cogelsa')">Embeddings</a></li> <!--the force directed graph will go here -->

                  <li><a href="#lsa" id="lsa" onclick="toggle3('cogelsa', 'cogelda', 'cogeembedding')">LSA</a></li> <!-- I want this button to include coge_lsa.html -->

                <li><a href="#lda" id="lda" onclick="toggle3('cogelda', 'cogelsa', 'cogeembedding')">LDA</a></li> <!-- and this button to include coge_lda.html -->


              </ul>
            </div>

    </div>




            </ul>

            <br></br>
            <iframe  id="cogeembedding" style="display:none" src="https://geco.iplantcollaborative.org/hclent/bionlp/cogembeddings/" width="1400" height="1600" marginwidth="0" marginheight="0" scrolling="no" frameBorder="0"></iframe>


            <iframe  id="cogelsa" style="display:none" src="https://geco.iplantcollaborative.org/hclent/bionlp/cogelsa/" width="1000" height="1600" marginwidth="0" marginheight="0" scrolling="no" frameBorder="0"></iframe>

            <iframe  id="cogelda" style="display:none" src="https://geco.iplantcollaborative.org/hclent/bionlp/cogelda/" width="1000" height="1300" marginwidth="0" marginheight="0" scrolling="no" frameBorder="0"></iframe>

        </div>



        <!-- Clustering  -->
		<div role="tabpanel" class="tab-pane fade" id="cluster">
         <iframe  id="cogekm"  src="https://geco.iplantcollaborative.org/hclent/bionlp/cogekmeans/" width="1000" height="800" marginwidth="0" marginheight="0" scrolling="no" frameBorder="0"></iframe>
		</div>



	<!--  Citations -->
		<div role="tabpanel" class="tab-pane fade" id="citations">
            <h4> {{unique_publications}} publications have cited PMIDs: 18952863, 18269575</h4>
            <ul class="list-group" id="citeurls">

		  	{% for result in citations_with_links %}
             <li><a href="{{result[1]}}" class="list-group-item">{{result[0]}}</a></li>
		  	{% endfor %}

            </ul>
		</div>



<!-- Stats -->
<div role="tabpanel" class="tab-pane fade" id="statistics">
    <iframe  id="cogestats"  src="https://geco.iplantcollaborative.org/hclent/bionlp/coge_stats/" width="1000" height="1500" marginwidth="0" marginheight="0" scrolling="no" frameBorder="0"></iframe>
		</div>


<!--  Scifi -->
		<div role="tabpanel" class="tab-pane fade" id="scifi">

    <iframe  id="cogescifi"  src="https://geco.iplantcollaborative.org/hclent/bionlp/coge_scifi/" width="1500" height="1700" marginwidth="0" marginheight="0" scrolling="no" frameBorder="0"></iframe>


		</div>



</ul> <!--responds to tab ul -->


 <script>
  function toggle(vis1, vis2) {
      //console.log('Button clicked!');
      var visspace1 = document.getElementById(vis1);
      var visspace2 = document.getElementById(vis2);
      visspace1.style.display = visspace1.style.display == 'none' ? '' : 'none'; //if none, display, if not none -> none
      visspace2.style.display = visspace2.style.display == '' ? 'none' : 'none'; //dont display other one!
  }
 </script>


 <script>
  function toggle3(vis1, vis2, vis3) {
      //console.log('Button clicked!');
      var visspace1 = document.getElementById(vis1);
      var visspace2 = document.getElementById(vis2);
      var visspace3 = document.getElementById(vis3);
      visspace1.style.display = visspace1.style.display == 'none' ? '' : 'none'; //if none, display, if not none -> none
      visspace2.style.display = 'none';
      visspace3.style.display = 'none';
  }
 </script>



<!--// create iframes with javascript! somehow...-->



<script>
  var btn = document.getElementById('myButton');
  btn.addEventListener('click', loadProgress);
  
  function loadProgress() {
    //console.log('Button clicked!');
    var progressBar = document.getElementsByClassName('progress-bar')[0];
    var interval = 30;
    var currentValue = 0;
    for (var i = 0; i < 100; i += interval) {
      //console.log('Setting interval', i)
      setTimeout(function() {
        currentValue += i;
        //console.log('Setting progress width to:', currentValue, '%');
        progressBar.setAttribute('style', 'width: ' + currentValue + '%');
      }, i);
    }
  }
</script>


{% endblock %}


