<!doctype html>
<html lang="en">



<!-- Basic site information: encoding, stylesheet, and icon  -->
<head>
	<meta charset = "utf-8">
	
	<title>dev</title>

	<meta name="viewport" content="width=device-width,
	initial-scale=1">
	
	<link href= "{{ url_for('static', 
	filename='js/third-party/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">

	<!-- url image icon goes here -->
	<!--<link rel="shortcut icon" href="{{url_for('static', filename='pikachu.ico') }}">-->

</head>

<header>
<!-- Header -->
	<div class="navbar-header">
    	<a class="navbar-brand" href="{{base_url}}/home/">
    	<img  style="max-width:100px; margin-top: -7px"
    	src="{{url_for('static', filename='images/scke1.png') }}">
		</a>
	</div>




<div class="container-fluid">
		<!-- 'Home' button that goes to main URL-->
		<a href="{{base_url}}/home/">
			<button type="button" class="btn btn-success" aria-label="Left Align" style="margine-top: 5px; margin-bottom: 5px; height: 45px; margin-right: 15px">
			<span class="glyphicon glyphicon-header" aria-hidden="true"></span>ome
		</button> 
	</a>



<!-- nav bar right location -->
	 <ul class="nav navbar-nav navbar-right">
			<!-- modals -->
			<!-- small modal with button -->

		<button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg">About SCKE</button>

		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
			   <div class="modal-header">
				  <h4>SCKE: Science Citation Knowledge Extractor</h4>
				  </div>
				    <div class="modal-body">
				           SCKE is an open source tool that helps biomedical researchers understand how
						   their work is being used by others, by analyzing the content
						   in papers that cite them. This tool uses natural language processing
						   and machine learning to extract the prominent
						   themes and concepts discussed in the citing documents.
						   By seeing what kinds of topics are discussed by citing articles, researchers can
						better understand how their work influences their peers and various disciplines in science.
						Additionally, SCKE allows biomedical researchers to explore other statistics about the
						publications that site them, such as where citations are published (Journals), the distribution
						of keywords (Keywords), the similarity of papers to each other (Clustering), the similarity of
						papers to other famous works (TextCompare), and general statistics about the citations (Statistics).

				    </div>

				<div class="modal-footer">
					<span class="form-control-static pull-left">
						<a href="https://github.com/hclent/Webdev-for-bioNLP-lit-tool">See the github repository for more details</a>
					</span>
				</div>
			</div>
		  </div>
		</div>

	 </ul>


</div>
</header>


<body>

	<div class="border-row" style="width:100%; margin-bottom: 65px;"></div>

	<div class="container-fluid" style="min-height:80%">

    <!-- logic (Test Flash) -->
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-warning alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
					{{message}}
				</div>

			{% endfor %}
		{% endif %}
	{% endwith %}



	<!-- logic (Flask Code) -->
	{% block body %}{% endblock %}

	</div>



	<!-- Scripts usually go here -->
	<script src="{{ url_for('static', filename='js/third-party/jquery/dist/jquery.min.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='js/third-party/bootstrap/dist/js/bootstrap.min.js') }}">
	</script>


</body>
