<!doctype html>
<html lang="en">
<!-- Basic site information: encoding, stylesheet, and icon  -->
<head>
	<meta charset = "utf-8">
	
	<title>dev</title>

	<meta name="viewport" content="width=device-width,
	initial-scale=1">
	
	<link href= "{{ url_for('static', 
	filename='css/bootstrap.min.css')}}" rel="stylesheet">

	<!-- url image icon goes here -->
	<link rel="shortcut icon" href="{{url_for('static', 
	filename='pikachu.ico') }}">
</head>




<header>
<!-- Header -->
	<div class="navbar-header">
    	<a class="navbar-brand" href="/">
    	<img  style="max-width:100px; margin-top: -7px"
    	src="{{url_for('static', filename='images/hi.png') }}">
		</a>
	</div>




<div class="container-fluid">
		<!-- 'Heather' button that goes to main URL-->
		<a href="/cogecrawl/">  
			<button type="button" class="btn btn-success" aria-label="Left Align" style="margine-top: 5px; margin-bottom: 5px; height: 45px; margin-right: 15px">
			<span class="glyphicon glyphicon-header" aria-hidden="true"></span>eather
		</button> 
	</a>



<!-- nav bar right location -->
	 <ul class="nav navbar-nav navbar-right">
			<!-- modals -->
			<!-- small modal with button -->
				<button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-sm">Fun fact</button>

				<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
				  <div class="modal-dialog modal-sm">
				    <div class="modal-content">
				      Manatees are no longer an endangered species :) 
				    </div>
				  </div>
				</div>


     </ul>
</div>
</header>


<body>

	<div class="border-row" style="width:100%; margin-bottom: 65px;"></div>

	<div class="container-fluid" style="min-height:80%">

    <!-- logic (Test Flash) -->
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-warning alert-dismissible" role="alert">
					<button type="buton" class="close" data-dismiss="alert" aria-label="Close">x</button>
					{{message}}
				</div>

			{% endfor %}
		{% endif %}
	{% endwith %}



	<!-- logic (Flask Code) -->
	{% block body %}{% endblock %}

	</div>



	<!-- Scripts usually go here -->
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}">
	</script>



</body>