<!doctype html>
{% extends "header.html" %}

{% block body %}


<!-- Pubmed ID Submit button -->
<div>
<form action="" class="form-inline" method="post">
  <div class="form-group">
    <label for="pubmedID">Pubmed ID</label>
    <input type="text" class="form-control" id="pubmedID" placeholder="18269575" name="pmid" value="{{request.form.pmid}}">
  </div>
  <button type="submit" class="btn btn-default" type="submit">Submit</button>
</form>
</div> 



<!-- Tabs -->
<div>

  <!-- Define Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#WebDev" aria-controls="WebDev" role="tab" data-toggle="tab">Information</a></li>
    <li role="presentation"><a href="#dan" aria-controls="dan" role="tab" data-toggle="tab">Cosine Analysis</a></li>
  </ul>


  <!-- Tab panes -->
	<div class="tab-content">

		<!--  Loop through cited article information like this --> 
		<div role="tabpanel" class="tab-pane fade" id="WebDev">
		  	<p>Results for PMID: 18269575</p>
		  	
		  	{% for result in running_results %}
		  		<li>{{result}}</li>
		  	{% endfor %}
		 
		</div> 


		<!-- Cosine similarity scores-->
		<div role="tabpanel" class="tab-pane fade" id="dan">
		  	<ul>
		  		<p>vec 1 = science article 1</p>
		  		<p>vec 2 = science article 2</p>
		  		<p>vec 3 = movie review</p>
		  		{% for score in cosines%}
		  			<li>{{score}}</li>
		  		{% endfor %}
		  	</ul>
		</div>

	</div>

</div>







{% endblock %}