<head>
    <!--plotly scripts -->
<script src="{{ url_for('static', filename='js/third-party/plotly/dist/plotly.min.js') }}"></script>
</head>

<body>
<div id="myDiv"></div>
</body>


<script>
    var paper1 = {
    x: [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2017],
    y: [1, 1, 5, 11, 15, 11, 21, 12, 3],
    name: '18952863',
    type: 'bar'};

    var paper2 = {
    x: [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017],
    y: [3, 3, 6, 5, 8, 16, 13, 8, 19, 1],
    name: '18269575',
    type: 'bar'};


    var data = [paper1, paper2];


    var layout = {
      title: 'Citations by Year',
      barmode: 'group'
    };


    Plotly.newPlot('myDiv', data, layout);

  </script>